# Parsing Dates

In [1]:
import numpy as np
import numpy.testing as npt
import pandas as pd

By default, Pandas doesn't know how to interpret our 'Date' column, and
assigns a generic `dtype` of `object`.

In [82]:
df = pd.read_csv('data/stock_data.csv')
df.dtypes

Date      object
Price    float64
dtype: object

To resolve this, we need to do two things: specify a `date_format`, and
specify which columns we want to parse as dates.

Which `date_format` do we use? Let's look at our data.

In [87]:
df['Date'].head(3)

0    3/31/15
1     4/1/15
2     4/2/15
Name: Date, dtype: object

Our `Date` column has a format of `%m/%d/%y`. Let's let Pandas know.

In [83]:
df2 = pd.read_csv('data/stock_data.csv', date_format='%m/%d/%y',
                  parse_dates=[0])

In [84]:
df2.dtypes

Date     datetime64[ns]
Price           float64
dtype: object

Our `Date` column is now showing up with a correct `dtype`! Let's confirm
that its showing up correctly in the DataFrame.

In [88]:
df2.head(3)

        Date    Price
0 2015-03-31  2067.89
1 2015-04-01  2059.69
2 2015-04-02  2066.96