### Import Pandas

In [2]:
import pandas as pd

### Create DataFrame

In [5]:
df = pd.DataFrame(
 {
        "Name": [
            "Ian Vaughn",
            "John Doe",
            "Allan Smith"
        ],
        "Age": [22,35,58],
        "Sex": ["Male","Male","Female"]
    }
)

### Access the "Age" column

Note that this is a _series_.

In [10]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

We can also create a _series_ manually.

In [8]:
ages = pd.Series([22,35,58],name="Age")
ages

0    22
1    35
2    58
Name: Age, dtype: int64

Note how the above two code blocks are identical!

Now, let's run some methods on our Series and DataFrame.

In [13]:
df["Age"].sum()

np.int64(115)

In [14]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000