# Solution for zero-based indexing on rows and columns.

In [44]:
import numpy as np
import pandas as pd

In [45]:
df = pd.DataFrame(
    {
        1: pd.Series(np.random.randn(3)),
        2: pd.Series(np.random.randn(4)),
        3: pd.Series(np.random.randn(3))
    }
)

__Problem Statement__: Columns use one-based indexing, rows use zero-based
indexing.

In [46]:
df

          1         2         3
0 -0.365236  0.919006  1.084460
1 -0.200325 -0.190455 -0.346240
2  0.391738  0.715565  0.743885
3       NaN -0.639404       NaN

__Solution__: Use `np.arange(n)` to assign a zero-based array to both axes.

In [47]:
df.index = np.arange(df.index.size)
df.columns = np.arange(df.columns.size)

In [48]:
df

          0         1         2
0 -0.365236  0.919006  1.084460
1 -0.200325 -0.190455 -0.346240
2  0.391738  0.715565  0.743885
3       NaN -0.639404       NaN