# Solution for zero-based indexing on rows and columns.

In [15]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame(
    {
        1: pd.Series(np.random.randn(3)),
        2: pd.Series(np.random.randn(4)),
        3: pd.Series(np.random.randn(3))
    }
)

__Problem Statement__: Columns use one-based indexing, rows use zero-based
indexing.

In [43]:
df

          1         2         3
0  0.014378 -0.058808  0.249527
1 -0.161731  0.489955 -0.809655
2 -1.963997 -1.473087  0.205404
3       NaN -0.632783       NaN

__Solution__: Use `np.arange(n)` to assign a zero-based array to both axes.

In [39]:
df.index = np.arange(df.index.size)
df.columns = np.arange(df.columns.size)

In [40]:
df

          0         1         2
0 -0.619340  0.665945       NaN
1 -0.571229  0.404684 -0.176778
2  0.494343 -0.601367  0.899481
3       NaN  0.758379 -0.452082